/*=======================
GENERAL STYLES
=======================*/
* {
  box-sizing: border-box;
  color: #60a7d8;
  font-size: 1.1rem;
  font-family: 'Open Sans', sans-serif;
}

img svg {
  width: 100%;
  height: auto;
  padding: 5px;
}

.blue {
  color: #80bb35;
}

.green {
  color: #8bb992;
}

.item .purple {
  color: #d48299;
}

.orange {
  color: #dcb07d;
}


/*=======================
MAIN STYLES
=======================*/
main {
  width: 100%
}

.product {
  border-top: 2px solid #60a7d8;
  border-left: 2px solid #60a7d8;
  border-right: 2px solid #60a7d8;
}

.product, section, footer {
  width: 33%;
  height: auto;
  padding: 0px;
}

.flip {
  display: flex;
  justify-content: flex-end;
}

.flip:hover .fa {
  background-color: #60a7d8;
  -webkit-text-fill-color: #5ca4d6;
   -webkit-text-fill-width: 2px;
   -webkit-text-fill-color: #fff;
}

.fa-repeat {
  border-bottom: 2px solid;
  border-left: 2px solid;
  padding: 10px;
}

section {
  display: flex;
}

.item:hover, .size:hover{
background-color: #60a7d8;
-webkit-text-fill-color: #5ca4d6;
 -webkit-text-fill-width: 2px;
 -webkit-text-fill-color: #fff;
}


.item:hover .fa-stop{
  -webkit-text-fill-color: #60a7db;
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: #fff;*/
}

.item:hover .fa-shopping-cart {
  -webkit-text-fill-color: #81bce5/*#60a7db*/;
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: #fff;
}


.item  {
  width: 20%;
  height: auto;
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  transition-duration: .5s;
}
 {
  width: 20%;
  height: auto;
}

footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.price {
  font-weight: 600;
}


/*============================
DROP-UP MENU
=============================*/
/*. {
  position: relative;
  display: inline-block;
}*/

.dropup-content {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 2px solid #60a7d8;
  min-width: 86px;
  height: auto;
  z-index: 1;
  top: 118%; /*361px*/
  transition-duration: 3s;
}

.dropup-content::after {
  content: "";
  width: 0;
  height: 0;
  top: 100%;
  left: 30%;
  bottom: 50px;
  position: absolute;
  border-left: 16px solid transparent;
  border-top: 10px solid #fff;
  border-right: 16px solid transparent;
}

.dropset {
  display: flex;
  justify-content: space-between;
  padding: 6px;
}

.drop-item .fa-stop {
  font-size: 1.8rem;
}

.item:hover .dropup-content {
  display: block;
}

.dropup-content::after .purple {
  color: #d48299;
}
