body {
  font-family: helvetica;
  color: #72b9e6;
  width: 80%;
  margin: auto;
}
.shirt {
  margin-right: 2em;
}
.flip-container, li, .fa-undo {
  border: 1px solid #72b9e6;
}
.shirt, .graphics, .text {
  display: inline-block;
}
.graphics {
  position: relative;
}
.fa-undo {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
  border-top: 0;
  border-right: 0;
  z-index: 3;
}
.fa-undo:hover {
  color: #fff;
  background: #72b9e6;
}
.flip-container {
  perspective: 1000px;
  border-bottom: 0;
}
.flip-container.flip .image {
  transform: rotateY(180deg);
}
.image {
  height: 351px;
  width: 360px;
  padding: 20px;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.front {
  z-index: 2;
}
.back {
  transform: rotateY(180deg);
}
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 20px;
  left: 20px;
}
ul {
  margin: 0;
  padding: 0;
  display: flex;
}
li {
  list-style-type: none;
  text-align: center;
  flex: 1;
  border: 1px solid;
  padding: 27px 0;
  position: relative;
}
li .selector {
  position: absolute;
  display: flex;
  background: #fff;
  border: 1px solid #72b9e6;
  visibility: hidden;
  opacity: 0;
}
li .sizes {
  left: 5px;
  bottom: 63px;
  height: 14em;
  width: 4em;
  flex-direction: column;
}
li .colors {
  left: -9px;
  bottom: 73px;
  height: 5em;
  width: 6em;
  flex-flow: row wrap;
}
.colors li {
  margin: 5px;
  flex-basis: calc(50% - 10px);
  border: 0;
  padding: 0;
}
.colors li:hover {
  margin: 4px;
  flex-basis: calc(50% - 8px);
}
.blue {
  background: #72b9e6;
}
.pink, .colors .pink:hover {
  background: #e460a5;
}
.yellow, .colors .yellow:hover {
  background: #dbaa69;
}
.green, .colors .green:hover {
  background: #347b30;
}
li:hover .selector {
  visibility: visible;
  color: #72b9e6;
  opacity: 1;
}
.selector {
  transition: all 1s;
}
.selector:hover {
  visibility: visible;
}
.sizes:hover li {
  color: #72b9e6;
}
.sizes li, .sizes:hover li {
  border: 0;
  padding: 15px;
  background: url(./images/tshirt.svg) no-repeat;
  background-size: 85%;
  background-position: center center;
  transition: background-size 1s;
}
.sizes li:hover {
  background-size: 100%;
}
li:hover {
  color: #fff;
  background: #72b9e6;
}
.color {
  width: 16px;
  height: 16px;
  margin: 0 27px;
}
li:hover .color {
  border: 1px solid #fff;
}
.arrow-box {
	position: relative;
	background: #fff;
	border: 4px solid #72b8e6;
}
.arrow-box:after, .arrow-box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow-box:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
.arrow-box:before {
	border-color: rgba(114, 184, 230, 0);
	border-top-color: #72b8e6;
	border-width: 16px;
	margin-left: -16px;
}
.text {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
.text h2 {
  font-size: 100%;
  font-weight: 400;
  margin: 0;
}

ul#shoppingCartli {
  border: none;
}

.shopItem {
  border: none;
  display: block;
}


#discount{
  padding:20px;
  margin: 20px;
}

#total{
  padding:20px;
  margin: 20px;
}

#newprice{
  padding:20px;
  margin: 20px;
}

#shoppingCart{
  display: flex;
  flex-direction: column;
}
